.TicTacToy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.title, .winner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.title {
  color: rgb(120, 120, 120);
}

.winner {
  color: rgb(72, 72, 72);
}